USE [master]
GO
/****** Object:  Database [FOROPREGUNTAS]    Script Date: 10-01-2024 11:27:54 ******/
CREATE DATABASE [FOROPREGUNTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FOROPREGUNTAS', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\FOROPREGUNTAS.mdf' , SIZE = 6336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FOROPREGUNTAS_log', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\FOROPREGUNTAS_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOROPREGUNTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FOROPREGUNTAS]
GO
/****** Object:  Table [dbo].[CARRERA]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARRERA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARRERA_CATEGORIA]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRERA_CATEGORIA](
	[ID_CARRERA] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
 CONSTRAINT [PRIMARY_KEY] PRIMARY KEY CLUSTERED 
(
	[ID_CARRERA] ASC,
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PREGUNTA_USUARIO]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREGUNTA_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_PREGUNTA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PREGUNTAS]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PREGUNTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DETALLE_PREGUNTA] [varchar](max) NOT NULL,
	[IMAGEN_PREGUNTA] [varbinary](max) NULL,
	[FECHA_PREGUNTA] [datetime] NOT NULL,
	[TITULO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESPUESTAS]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESPUESTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DETALLE_RESPUESTA] [varchar](max) NOT NULL,
	[IMAGEN_RESPUESTA] [varbinary](max) NULL,
	[FECHA_RESPUESTA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USU_CARR_CAT]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USU_CARR_CAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_CARRERA] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10-01-2024 11:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[CORREO] [varchar](300) NOT NULL,
	[CONTRASEÑA] [varchar](max) NOT NULL,
	[SALT] [varchar](max) NULL,
	[TELEFONO] [varchar](100) NULL,
	[IMAGEN] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CARRERA_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [CARRERA_FK] FOREIGN KEY([ID_CARRERA])
REFERENCES [dbo].[CARRERA] ([ID])
GO
ALTER TABLE [dbo].[CARRERA_CATEGORIA] CHECK CONSTRAINT [CARRERA_FK]
GO
ALTER TABLE [dbo].[CARRERA_CATEGORIA]  WITH CHECK ADD  CONSTRAINT [CATEGORIA_FK] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[CARRERA_CATEGORIA] CHECK CONSTRAINT [CATEGORIA_FK]
GO
ALTER TABLE [dbo].[PREGUNTA_USUARIO]  WITH CHECK ADD  CONSTRAINT [ID_PREGUNTA_FK] FOREIGN KEY([ID_PREGUNTA])
REFERENCES [dbo].[PREGUNTAS] ([ID])
GO
ALTER TABLE [dbo].[PREGUNTA_USUARIO] CHECK CONSTRAINT [ID_PREGUNTA_FK]
GO
ALTER TABLE [dbo].[PREGUNTA_USUARIO]  WITH CHECK ADD  CONSTRAINT [ID_USUARIO_FK] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USU_CARR_CAT] ([ID])
GO
ALTER TABLE [dbo].[PREGUNTA_USUARIO] CHECK CONSTRAINT [ID_USUARIO_FK]
GO
ALTER TABLE [dbo].[USU_CARR_CAT]  WITH CHECK ADD  CONSTRAINT [CARRERAS_FK] FOREIGN KEY([ID_CARRERA], [ID_CATEGORIA])
REFERENCES [dbo].[CARRERA_CATEGORIA] ([ID_CARRERA], [ID_CATEGORIA])
GO
ALTER TABLE [dbo].[USU_CARR_CAT] CHECK CONSTRAINT [CARRERAS_FK]
GO
ALTER TABLE [dbo].[USU_CARR_CAT]  WITH CHECK ADD  CONSTRAINT [USUARIO_FK] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[USU_CARR_CAT] CHECK CONSTRAINT [USUARIO_FK]
GO
USE [master]
GO
