body {
    background-color: #ffffff; /* Fondo blanco */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto o la fuente que desees */
    color: #343a40; /* Texto gris oscuro */
}

.header {
    background-color: #343a40; /* Gris oscuro */
    color: #fff; /* Texto blanco */
    padding: 15px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.title {
    flex-grow: 1; /* Hace que el título ocupe todo el espacio disponible */
    font-family: 'Cursive', sans-serif; /* Cambia la fuente del título a Cursive o la fuente que desees */
}

.search-bar {
    max-width: 300px; /* Ancho máximo para la barra de búsqueda */
    margin-left: auto; /* Mueve la barra de búsqueda al extremo derecho */
    margin-right: 20px;
}

.user-menu {
    cursor: pointer;
    position: relative; /* Asegura que el menú esté posicionado con respecto a este elemento */
}

.user-menu-content {
    display: none;
    position: absolute;
    top: 100%; /* Alinear el menú debajo del icono de usuario */
    right: 0;
    background-color: #343a40;
    border: 1px solid #4e555b;
    z-index: 1;
}

    .user-menu-content ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .user-menu-content li {
        margin-bottom: 10px;
    }

    .user-menu-content a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
    }

        .user-menu-content a:hover {
            color: #ffd700; /* Amarillo al pasar el mouse */
        }

.sidebar {
    background-color: #343a40; /* Gris oscuro */
    padding: 15px;
    border-right: 1px solid #4e555b; /* Borde derecho gris más oscuro */
    color: #fff; /* Texto blanco */
    width: 200px; /* Ancho del sidebar */
    height: 100vh; /* Altura del 100% del viewport height */
}

    .sidebar h2 {
        color: #ffd700; /* Amarillo */
        margin-bottom: 20px;
        cursor: pointer; /* Hace que el cursor se convierta en una mano al pasar sobre el texto */
        padding-bottom: 10px;
        font-size: 20px; /* Agrega un espacio entre el texto y el borde */
    }

        .sidebar h2:not(:first-child) {
            border-bottom: 1px solid #4e555b; /* Agrega un borde inferior a todos los h2 excepto al primero (Carreras) */
        }

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar.active ul {
        display: block; /* Muestra la sublista cuando su contenedor tiene la clase 'active' */
    }

    .sidebar li {
        margin-bottom: 10px;
    }

        .sidebar li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
        }

            .sidebar li a:hover {
                color: #ffd700; /* Amarillo al pasar el mouse */
            }

.container {
    padding: 20px;
    background-color: #fefeff;
}

.sidebar .sidebar-title {
    color: #fff;
    font-size: 35px; /* Color blanco para el título 'Carreras' */
}
.hidden {
    display: none;
}
